.about-banner {
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.about-cta {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-btn {
        @include primaryBtn;
    }
}

.skills-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    .myskills {
        display: flex;
        flex-direction: column;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      img {
        border-radius: 5px 5px 0 0;
      }
      
      .container {
        padding: 2px 16px;
      }
}
