
@import "./_variables";
@import "./header";
@import "./showcase";
@import "./cards";
@import "./portfolio";
@import "./footer";
@import "./cta-banner";
@import "./about-me";



body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: $primary;
    box-sizing: border-box;
}











